@import "tailwindcss";

*, *::after, *::before {
  box-sizing: border-box;
}

body{
  font-family: var(--font-main);
  font-size: 18px;
  font-weight: 500;
}

h1{
  font-family: var(--font-title);
}

.custom-scroll::-webkit-scrollbar {
  width: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: hsl(243,27%,24%);
  border: solid hsl(243,27%,30%) 1px;
  border-radius: 10px;
}

.my-scroll::-webkit-scrollbar-track {
  background: transparent;
}